body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  color: green;
}

.cards-container {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  width: 250px;
  height: 300px;
  text-align: center;
}

.pokemons-health-containers {
  position: relative;
  left: 8%;
}

.health {
  position: relative;
    z-index: 2;
    color: rgb(164, 7, 99);
    border: 1px solid pink;
    border-radius: 5px;
    width: 140px;
    height: 75px;
    margin: 5px;
    background-color: rgb(190, 226, 247);
    text-align: center;
}

.game-container {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-image: url(assets/background.jpg);
  height: 100vh;
}

/****For images****/

.img-container {
  position: absolute;
}

.pokemon-picture {
  height: 250px;
}

.pikachu {
  bottom: 45%;
  left: 83%;
}

.charmander {
  left: 58%;
  bottom: 33%;
}

.bulbasaur {
  bottom: 5%;
  left: 75%;
}

.toxapex {
  bottom: 40%;
  left: 33%;
}

.img-container:hover img {
  transform: scale(1.2);
}
