body {
  margin: 0px;
  padding: 0px;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: lightgray;
}

.saves-container {
  left: 1%;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  padding-top: 15px;
  font-size: large;
  border: 2px solid white;
  position: relative;
  background-color: rgb(230, 239, 227);
  border-radius: 15px;
  text-align: center;
}

h1 {
  color: rgb(14, 52, 69);
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  color: rgb(14, 52, 69);
  text-align: left;
  padding-left: 70px;
}

#filter-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.btn {
  width: 75px;
  height: 50px;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  margin: 5px;
}

.normal-btn {
  background-color: #a8a77a;
}
.bug-btn {
  background-color: #a6b91a;
}
.dark-btn {
  background-color: #705746;
}
.dragon-btn {
  background-color: #6f35fc;
}
.electric-btn {
  background-color: #f7d02c;
}
.fairy-btn {
  background-color: #d685ad;
}
.fighting-btn {
  background-color: #c22e28;
}
.fire-btn {
  background-color: #ee8130;
}
.flying-btn {
  background-color: #a98ff3;
}
.ghost-btn {
  background-color: #735797;
}
.grass-btn {
  background-color: #7ac74c;
}
.ice-btn {
  background-color: #96d9d6;
}
.poison-btn {
  background-color: #a33ea1;
}
.psychic-btn {
  background-color: #f95587;
}
.rock-btn {
  background-color: #b6a136;
}
.steel-btn {
  background-color: #b7b7ce;
}
.water-btn {
  background-color: #6390f0;
}

#pokemons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  justify-content: center;
  width: 50%;
  float: left;
  background-color: white;
}

#saved-pokemons-container {
  width: 50%;
  float: right;
  background-color: rgb(230, 239, 227);
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
}
